@page "/favoriter"
@using Microsoft.AspNetCore.Authorization;

@inject HttpClient client;
@inject PublicClient Pclient;

<div class="containter-fluid">

    <div class="row">

            <div>
                <h1>Favoriter</h1>
            </div>

            @if (allIcecreams != null)
            {
                @foreach (var ic in allIcecreams)
                {

                <div class="col-md-6 col-lg-4 col-sm-12 justify-content-center d-flex align-items-center">
                    <a id="cardglass" class="card mt-5 text-decoration-none text-dark" style="width:350px;height:460px" @onclick="(() => changeIceCream(ic.Name))" href="glass">

                        <div class="card-body d-flex flex-column mt-auto text-center">

                            <img class="mx-auto d-block mt-3 img-fluid my-auto" style="width:300px;height:300px;" src="@ic.Img" alt="https://via.placeholder.com/150x150" />
                            <h2 class="">@ic.Name</h2>

                        </div>
                           @* <div class="card-body">

                                <img class="mx-auto d-block mt-3 img-fluid" src="@ic.Img" alt="https://via.placeholder.com/150x150" />
                                <h2>@ic.Name - @ic.Company</h2>
                                <h5>@ic.Info</h5>

                                <table class="table table-striped mt-5">
                                    <thead>
                                    <th>Näringsämne </th>
                                    <th>Per glass</th>

                                    </thead>

                                    <tbody>

                                        <tr>

                                            <td>Energi</td>
                                            <td>@ic.nutritionalContent.Energy.Calorie kcal / @ic.nutritionalContent.Energy.Kilojoules kJ</td>

                                        </tr>

                                        <tr>

                                            <td>Fett</td>
                                            <td>@ic.nutritionalContent.Fat g</td>

                                        </tr>


                                        <tr>

                                            <td>Salt</td>
                                            <td>@ic.nutritionalContent.Salt g</td>

                                        </tr>

                                        <tr>

                                            <td>Kolhydrater</td>
                                            <td>@ic.nutritionalContent.Carbohydrates g</td>

                                        </tr>

                                        <tr>

                                            <td>Protein</td>
                                            <td>@ic.nutritionalContent.Protein g</td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>*@

                        </a>
                    </div>


                }
            }
            else
            {
                <p>Du har inga favoriter än.</p>
            }



    </div>
</div>